.explore .wrap {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.cards .card-holder {
  width: 25%;
  margin-right: -20px;
}

.cards .card {
  margin-right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.cards .image img {
  width: 250px;
  height: 170px;
  border-radius: 50%;
}
/* Gallery section */

.galery-section {
  width: 80%;
  margin: 0 auto;
  * {
    box-sizing: border-box;
  }
}
/* Gallery section */
.galery-section {
  width: 80%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(./images/image-01.jpg);
  background-size: cover;
  position: fixed;
  margin: 0;
  color: white;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.animal-section {
  width: 60%;
  margin: 0 auto;
}
.hamburger-menu {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

ul li {
  color: white;
  &:not(:last-child) {
    margin-right: 70px;
  }
}

.logo {
  color: white;
}

.navnar-wrapper {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.animal-grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33.33%;
  text-align: center;
  padding: 0 15px;
}

.card img {
  border-radius: 10px;
}

.card p {
  padding-top: 15px;
}

.about_section {
  text-align: center;
  margin-bottom: 50px;
}

/* Gallery section */

.galery-section {
  width: 80%;
  margin: 0 auto;
}

.galery-section .wrapper {
  display: flex;
}

.card-galery {
  flex-basis: 33.33%;
  text-align: center;
}

.card-galery img {
  width: 90%;
  border-radius: 10px;
}

.card-galery p {
  font-size: 1.3rem;
}

.about_section .wrapper {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
/* Responsive gallery for Tablet @768px */

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px 0;
  width: 100%;
}

footer p {
  margin: 0;
}

/* Responsive gallery for Tablet @768px */

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
}
